.task-list-item{
    display: flex;
    align-items: center; 
    justify-content: center; 
    margin: 0px auto; 
    width: 100%;
    max-width: 350px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    gap: 10px; 
}
.task-list-item input[type="checkbox"] {
    margin-right: 10px;
    flex-shrink: 0; 
}
.task-list-item span{
    flex-grow: 1;
    font-size: 16px;
    margin: 16px 0;
    padding: 5px;
    word-break: break-word; /* Đảm bảo từ dài sẽ xuống dòng */
    white-space: pre-wrap;  /* Giữ nguyên khoảng trắng và dòng mới trong nội dung */
}
img {
    width: 30px;
    height: 30px;
    margin: 5px; 
}