.task-list{
    display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 15px;
    width: 100%;
    max-width: 420px;
    padding: 15px;
	background-color: white;
	border: 1px solid #ddd;
	border-radius: 4px;
}
ul{
    list-style: none;
    padding: 0px;
}
.task-text {
    display: -webkit-box; /* Dùng box layout để giới hạn dòng */
    -webkit-line-clamp: 2; /* Số dòng tối đa, ví dụ là 2 */
    -webkit-box-orient: vertical; /* Đặt hướng dọc */
    overflow: hidden; /* Ẩn phần tràn ra ngoài */
    text-overflow: ellipsis; /* Thêm ba chấm nếu vượt quá giới hạn */
}
.task-list .input-edit{
    width: 270;
    height: 30px;
    padding: 0 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
    text-align: left;
}
.task-list .input-edit:focus{
    border-color: #333;
}
.task-list button[type="save"]{
    height: 30px;
    background-color: #7a7878;
    color: white;
}
.task-list button[type="save"]:hover{
    background-color: #333;
}
.task-list button[type="cancel"] {
    height: 30px;
    background-color: #c95e5e;
    color: white;
}

.task-list button[type="cancel"]:hover {
    background-color: #d391a1;
}