.task-app{
    display: flex;
    max-width: 600px;
    width: 100%;
    margin: 100px auto 20px;
    flex-direction: column;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
}
.task-app h1{
    font-size: 40px;
    color: #aaa;
    width: 100%;
}
.task-app span{
    width: 100%;
    font-size: 20px;
    margin-top: -24px;
    color: #aaa;
}
hr { 
    width: 70%; 
    height: 1px; 
    margin: 15px auto;
    background: #aaa 
}
ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    margin: 8px 0;
    border-radius: 4px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    word-break: break-word;
}

ul li.completed {
    background-color: #d4edda;
    color: #155724;
}