.container{
	display: flex;
    width: 600px;
    gap: 10px;
}
.gap-1{
	gap: 4px;
}
.box{
	height: 200px;
    max-width: 116.8px;
    flex-basis: 116.8px;
    background-color: black;
}
.wrap{
	flex-wrap: wrap;
}
.max-w-md{
	max-width: 600px;
}
.m-auto{
	margin: 0 auto;
}
.column{
    flex-direction: column;
}
.img{
	width: 600px;
}